*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border: 2px white solid;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.title{
    margin-left: 90px;
}
ul{
    display: flex;
    list-style-type: none;
    margin-left: 500px;
    
}
.nn{
    background-color: aqua;
    height: 200px;
    width: 100%;
    padding: 10px;
}
ul a{
    margin-left:10px ;
    color: white;
    text-decoration: none;
}
.box{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 10px !important;

    
}
.pa{
   clear: right;
   margin-right: 30px;

}