@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.slidebar{
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.menu-icon{
    margin-top: 3rem;
}
.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: 1.8rem;

}